<div class="container-field user-account">
  <div class="row">
    <div class="col-md-12 user-view">
      <div class="user-view-box">
        <div class="view-content">
          <div class="row">
            <label class="col-md-3" for="">予約した部屋</label>
            <div class="col-md-9">
              <%= @room.room_name %>
            </div>
          </div>
        </div>
        <div class="view-content">
          <div class="row">
            <label class="col-md-3" for="">開始日</label>
            <div class="col-md-9">
              <%= @reservation.start_date.to_s(:datetime_jp) %>
            </div>
          </div>
        </div>
        <div class="view-content">
          <div class="row">
            <label class="col-md-3" for="">終了日</label>
            <div class="col-md-9">
              <%= @reservation.end_date.to_s(:datetime_jp) %>
            </div>
          </div>
        </div>
        <div class="view-content">
          <div class="row">
            <label class="col-md-3" for="">価格</label>
            <div class="col-md-9">
              <%= @reservation.total.to_i %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "削除", @reservation, method: :delete, data: {confirm: "まじ？"} %>
